<script>
    var socket = io.connect('http://localhost:3000');
	socket.on('connect', function(data) {
    	socket.emit('join', 'Hello World from client');
    });
</script>



<div class="above">
<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
{{#each conversations as |item|}}

  <a href="/user/messages/{{item.[1]._id}}"> 

            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="http://localhost:3000/{{item.[1].ph}}" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{item.[1].name}} <span class="chat_date">Dec 25</span></h5>
                  <p>{{item.[0].messages}}</p>
                </div>
              </div>
            </div>
          </a>
 {{/each}}


              </div>
        </div>
        
      </div>
      
      
<p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>
      
    </div></div>
    </body>
    </html>
   </div>